* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1d1d;
    color: white;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    position: relative;
    width: 80vw;
    height: 50vh;
    border: 1px solid #fff;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button, select {
    font-size: 1em;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-top: 10px;
}

#player-score, #ai-score {
    font-size: 2em;
    width: 50px;
    text-align: center;
}
